// main scss file

// * {border: 1px solid red !important}


// reset & base
// ------------
@import "base/reset";
@import "base/utility";

// variables
// ---------
@import "variables/colors";
@import "variables/typography";

// layout
// ------
@import "layout/grid";

// objects
// -------
@import "objects/nav";
@import "objects/search";
@import "objects/box-item";
@import "objects/full-width-section";
