@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');
// fonts

$font-family: 'roboto', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 2;

html,
body {
  font-family: $font-family;
  color: $primary-color;
  line-height: $font-height;
}

// typography

h1 {
  font-size: 2.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
  font-weight: 400;
}

h4 {
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: .5px;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .825rem;
}

p {
  font-size: 1rem;
  font-weight: $font-weight-regular;
  line-height: 1.8;
}

a {
  letter-spacing: .1em;
  font-weight: $font-weight-regular;
  color: $sd-blue;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-heavy {
  font-weight: $font-weight-heavy;
}
