.box-item {
  padding: 2em 0;

  h3 {
    background: whitesmoke;
    vertical-align: middle;

    &:before {
      content: " ico";
      width: 35px;
      background: red;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

  }

}
