.box-item {
  padding: 2em 0;

  h3 {
    background: white;
    vertical-align: middle;

    &:before {
      content: " ico";
      width: 40px;
      background: red;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      text-align: center;
    }

  }

  p, li {
    padding-left: 2.5em;
  }

}
