.sd-button {
  margin: 2em 0;
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
   border-radius: 42px;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	padding: .75em 2.5em;
	text-decoration: none;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  &.button-blue {
    background-color: white;
    border: 3px solid $sd-blue;
    color: $sd-blue;
    &:hover {
      background-color: $sd-blue;
      color: white;
    }
  }
  &.button-yellow {
    background-color: transparent;
    border: 3px solid $sd-yellow;
    color: $sd-yellow;
    &:hover {
    	background-color: $sd-yellow;
      color: $primary-color;
    }
  }

  &:active {
  	position: relative;
  	top: 1px;
  }

}
