.full-width-section {
  background: $deep-blue;
  color: white;
  padding: $x-height 0;
  // div [class^="col"],div [class^="row"] {
  //   margin-bottom: 0;
  //   padding-bottom: 0;
  // }
  h1 {
    padding-top: ($x-height) * .5;
  }
  .illustration {
    img {
      width: 100%;
    }
  }
}
