@import "../variables/_colors.scss";

.nav {
  display: block;
  background: #fafafa;
  height: 72px;
  color: $primary-color;
  padding: 10px;
  overflow: auto;
  & > div {
    display: inline-block;
    vertical-align: middle;
    width: 99%;
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  ul {
    list-style-type: none;
    display: inline-block;
    li {
      display: inline-block;
    }
  &.nav-logo {
    float:left;
  }
  &.nav-list {
    float: right;
  }
  }


}
