.sweet-header {
  padding-top: $x-height;
  padding-bottom: ($x-height) * .25;
  span {
    position: relative;
    text-decoration: line-through;
    &:after {
      content: "";
      background-image: url(../images/sweet.png);
      display: inline-block;
      height: 2.25em;
      background-position-x: 1px;
      background-origin: content-box;
      overflow: visible;
      background-size: 50%;
      background-repeat: no-repeat;
      width: 3.5em;
      position: absolute;
      left: 75px;
      bottom: -80px;
      @media only screen and (min-width: $breakpoint-large) {
        background-size: 100%;
        left: 0;
        bottom: -80px;
      }
    }

  }

}
